<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto">ADD-PRODUCT</a>
        </div>
        <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th>ADDRESS</th>
                <th>Pincode</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">PAYMENT</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
        {{#each orders}}
            <tr>
                <td>{{this.deliveryDetails.date}}</td>
                <td>{{this.deliveryDetails.address}}</td>
                <td>{{this.deliveryDetails.pincode}}</td>
                <td>{{this.totalAmount}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.status}}</td>
                <td>
                    <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                </td>
                     
            </tr>

            {{/each}}
        </tbody>


    </table>
    </div>
</section>